*{
    margin:0;
    padding:0;
}

.review-style {
    width: 600px;
    font-family: arial;
    border: 1px solid orange;
    padding: 10px;
    margin: 10px;
}

.review-style h3 {
    color: #F26BE5;
}

.review-style p {
    color: #6a6a6a;
}